
.button {
   min-width: var(--M_MinClickable);
   min-height: var(--M_MinClickable);
   border-radius: var(--M_BorderRadius);
   padding: var(--M_Gap1\2) var(--M_Gap);
   border: 1px solid;
   font-weight: bold;
   font-size: 1.7rem;
   display: block;
   cursor: pointer;
   position: relative;
   transition: all 0.1s ease-in;
}

.button::after {
   transition: opacity 0.1s ease-in;
   background: linear-gradient(0, transparent, 75%, #ffffff3d);
   content: '';
   display: block;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   left: 0;
   opacity: 0;
   border-radius: var(--M_BorderRadius);
}

.button:hover::after {
   opacity: 1;
}

.primary {
   background-color: var(--I_PrimaryBtnBg);
   color: var(--I_PrimaryBtnText);
   border-color: var(--I_PrimaryBtnBorder);
}

.primary:hover {
   background-color: var(--I_PrimaryBtnBg-Hover);
   color: var(--I_PrimaryBtnText-Hover);
}

.secondary {
   background-color: var(--I_SecondaryBtnBg);
   color: var(--I_SecondaryBtnText);
   border-color: var(--I_SecondaryBtnBorder);
}

.secondary:hover {
   background-color: var(--I_SecondaryBtnBg-Hover);
   color: var(--I_SecondaryBtnText-Hover);
}

.disabled {
   background-color: var(--I_DisabledBtnBg);
   color: var(--I_DisabledBtnText);
   border-color: var(--I_DisabledBtnBorder);
   cursor: not-allowed;
}

.icon {
   background-color: transparent;
   border: 0;
}
