
.mainTemplate
{
   height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.header
{
   height: 68px;
   padding: var(--M_Gap);
}

.content
{
   display: grid;
   grid-template-columns: 300px 1fr;
   grid-template-rows: 1fr;
   flex-grow: 1;
   overflow: hidden;
}

.content__main
{
   display: flex;
   flex-direction: column;
   background-color: var(--S_MainBg);
   padding: var(--M_Gap);
   color: var(--T_Std);
   overflow: hidden;
}
